<h1>RoadTrips#new</h1>
<p>Find me in app/views/road_trips/new.html.erb</p>

<%# <%= simple_form_for(article) do |f| %>
  <!-- [...] -->
  <%# <%= f.input :photo, as: :file %>
  <!-- [...] -->
<%# <% end %>
