  <div class="d-flex-date">
    <div><strong>From : 16/06/2023</strong></div>
    <div><strong>To : 20/11/2023</strong></div>
  </div>
<div class="container-white">
  <h1 class="road-trip-title">GIRLS ONLY</h1>
  <%= image_tag 'Friends.jpg.webp', class: "trip-image" %>
  <div class="p-description">
    <p>It's been too many minutes, hours, days, weeks, months, and perhaps years since you've last put away your troubles and set off for a few days away with your most beloved girlfriends.
    It's time to reunite, reminisce, and make new memories together that will last a lifetime. Be it a bachelorette party, a birthday event, or just a weekend away for no reason at all, taking a trip with your best gals simply defines the word joy.
    And here's the best part: Taking a girls trip doesn't have to break the bank. Need proof? Here are 25 cheap girls weekend getaway ideas that still deliver plenty of priceless moments, too.
    </p>
  </div>
  <div id='map' style='width: 1008px; height: 600px;'></div>
  <div class="d-flex">
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
    <div><%= image_tag 'airport.jpeg', class: "trip-image-small" %></div>
  </div>
</div>
