.road-trip-title {
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  padding: 20px 10px;
  text-shadow: 1px 1px 2px #0000004a;
  font-family: $headers-font;
  font-size: 850%;
  text-align: center;
}

// font du titre de la page new
.road-trip-title-new {
  margin-top: 50px;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  padding: 23px 0;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  text-shadow: 1px 1px 2px #0000004a;
}

.road-trip-title-new-haut {
  font-size: 7.5rem;
}

.road-trip-title-new-bas {
  font-size: 75px;
}


// .bang-font {
  // font-family: $headers-font;
  // font-size: 80px;
// }
// .permanent-marker-font {
  // font-family: $headers-font;
// }
.p-description {
  //padding-top: 2em; */
  // * padding-bottom: 2em; */
  font-family: $headers-font;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.p-description-user-signature {
  font-family: $headers-font;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: right;
  text-shadow: 1px 1px 2px #0000004a;
}

.trip-image {
  // margin: 50px;
  // min-width: 100%;
  width: 700px;
  height: 500px;
  margin-top: 65px;
  margin-bottom: 65px;
}
.trip-image-small{
  padding-top: 2em;
  max-width: 90%
}
//.d-flex-date {
  // padding-top: 1em;
  // float:right;
  // position: sticky;
  // top: 6em;
  // right: 8em;
// }

.list-inline {
  list-style: none;
  padding-left: 0%;
  text-align: center;
  padding-bottom: 10px;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.carousel-perso {
  margin-top: 140px;
}

.room-main-title{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  // padding: 23px 0;
}

.room-main-title h1{
  font-family: $headers-font;
  letter-spacing: 1px;
  text-align: center;
  font-size: 100px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;

}

.welcoming-current-user h4{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-shadow: 0.5px 0.5px 1px black;
}

.room-body-itinerary{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.room-body-itinerary i{
  font-size: 43px;
}

.room-body-itinerary img{
  margin-top: 20px;
  margin-left: 20px;
}

.room-body-adding-points{
  display: flex;
  justify-content: center;
  margin-top: -140px;
}

.room-body-center-activity-logo{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.room-body-center-activity-logo i{
  margin: 40px;
  font-size: 35px;
}

.room-body-adding-activity{
  display: flex;
  justify-content: center;
}

.room-body-road-trip-info{
  display: flex;
  justify-content: center;
}
