.road-trip-title {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}
.permanent-marker-font {
  font-family: 'Permanent Marker', cursive;
}
.p-description {
  padding-top: 2em;
  padding-bottom: 2em;
}

.trip-image {
  min-width: 100%;
}
.trip-image-small{
  padding-top: 2em;
  max-width: 90%
}
.d-flex-date {
  padding-top: 1em;
  float:right;
  position: sticky;
  top: 6em;
  right: 8em;

}
