
  <div class="footer font-foot">
    <div class="footer-links footer-links a:hover">
      <p>Share your best photos with us!</p>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    </div>
  </div>
