.btn-add {
background-color: rgba(0, 0, 0, 0.589);
color: rgba(255, 255, 255, 0.904);
padding: 10px;
font-family: $headers-font;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.877);
max-width: 87px;
font-size: 20px;
text-align: center;
margin-bottom: 20px;
}

.btn-participation {
  background-color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.877);
  margin-bottom: 20px;
  font-size: 25px;
  color: black;
  box-shadow: 3px 3px 3px #0000009c;
  text-decoration: none;
  text-shadow: 1px 1px 2px #0000004a;
  // hover {
  //   color: rgba(0, 0, 0, 0.705);
  //   background-color: rgb(244, 244, 244);
  // }
}
