.btn-gradient {
  color: rgb(221, 212, 212);
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(#8f9fb0, #010913);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#2b394d, #090909);
  color: white;
}
