
.btn-gradient {
  color: white;
  padding: 3px 18px;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(#04101d, #707a87);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#061120, #4b5057);
  color: white;
}
