.card-home {
  display: block;
  justify-content: center;
  margin: 0%;
}
.card-text {
  position: absolute;
  color: white;
  text-decoration: none;
}

.text-search {
  display: flex;
//   justify-content: space-between;
//   // font-family: 'Bangers';
//   // font-size: 16px;
}
.card-name{
 color: white;
}
