.card-home {
  display: block;
  justify-content: center;
  margin: 0%;
}
.card-text {
  position: absolute;
  text-decoration: none;
}

.text-search {
  display: flex;
//   justify-content: space-between;
//   // font-family: 'Bangers';
//   // font-size: 16px;
}
.card-name h4{
  color: white;
  text-decoration: none;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.3px;
  text-shadow: 0.5px 0.5px 0px white;
}

.card-name :hover {
  color: yellow;
}

.card-name {
  color: white;
  text-decoration: none;
}
