
.container-search {
  display: block;
  justify-content: center;
  margin: 100px;
  font-family: $headers-font;
  letter-spacing: 4%;
}

.container-home {
  margin: 0px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.card-home {
  display: block;
  justify-content: center;
  margin: 0%;
}

.card-text {
  position: absolute;
  color: white;
  text-decoration: none;
}

.text-search {
  display: flex;
//   justify-content: space-between;
//   // font-family: 'Bangers';
//   // font-size: 16px;
}
